Package: hpkvfs-dbgsym
Package-Type: ddeb
Source: hpkvfs
Version: 0.1.3-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Kaveh Kakooch <kakooch@gmail.com>
Installed-Size: 76
Depends: hpkvfs (= 0.1.3-2)
Section: debug
Priority: optional
Description: debug symbols for hpkvfs
Build-Ids: 5238f97c2404c6013d0586763cf2239c6bc65afb
